<html>
    <head>
          <meta name="google-signin-client_id" content="263414884222-cks8c3nqflg1u6i4m8dmd1asukgfp235.apps.googleusercontent.com">
    </head>
    <body>
        <div id="status"></div>
        <fb:login-button scope="public_profile,email" onlogin="testAPI();">
        </fb:login-button>
         <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <div id="content"></div>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='App.css') }}">
        <script type="text/javascript" src="/static/script.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>

    </body>
</html>