<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBFcB22MLkOVyysayl3QUaumrCn3gr9-dE",
    authDomain: "project-2-39fcf.firebaseapp.com",
    databaseURL: "https://project-2-39fcf.firebaseio.com",
    storageBucket: "project-2-39fcf.appspot.com",
    messagingSenderId: "369653884909"
  };
  firebase.initializeApp(config);
</script>


<script src = "https://apis.google.com/js/platform.js" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>
        <script>
        /*global user*/
            function onSignIn(googleUser) {
                console.log('Google Auth Response', googleUser);
                alert ("Welcome, " + googleUser.w3['ig']);
            var user = googleUser.w3['ig'];
            loginSuccessFul(user);
  // We need to register an Observer on Firebase Auth to make sure auth is initialized.
            var unsubscribe = firebase.auth().onAuthStateChanged(function(firebaseUser) {
                unsubscribe();
            // Check if we are already signed-in Firebase with the correct user.
            if (!isUserEqual(googleUser, firebaseUser)) {
                // Build Firebase credential with the Google ID token.
                var credential = firebase.auth.GoogleAuthProvider.credential(
                googleUser.getAuthResponse().id_token);
                  console.log("User" + googleUser + " Has logged in");
            // Sign in with credential from the Google user.
            firebase.auth().signInWithCredential(credential).catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
            // ...
      });
    } else {
      console.log('User already signed-in Firebase.');
    }
  });
   function loginSuccessFul(name){
        //window.location.replace("/chat.html?user="+ name);
    }
}
</script>
  <script src="//connect.facebook.net/en_US/sdk.js"></script>
//Facebook
        <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '101547387036328',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
    function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
        console.log(response);
        FB.api(
  response.id,
  'GET',
  {"fields":"picture"},
  function(response) {
     console.log(response)
  }
);
    var user = response.name;
        loginSuccessFul(user);
    });
    }
        function loginSuccessFul(name){
     //   window.location.replace("/chat.html?user="+ name);
    }
    
    
</script>